<head>
    <%- include('./include/header.link.ejs') %>
        <title>My Cart</title>
        <link rel="stylesheet" href="/css/cart.css">
</head>

<body style="background-color: #eee">

    <%- include('./include/header.ejs') %>

    <section id="filters" style="margin-top: 30px;">

        <div class="container">

            <% if(countProducts==0) { %>
                <div id="filter-result-heading">
                    <h3>You cart is Empty.</h3>
                </div>
                <% } %>

                    <% if(countProducts>0 ) { %>

                        <div id="filter-result-heading" style="margin-top: 50px;">
                            <h2 style="margin-left: 15px; color: #6255a5;">Shopping Cart<small> (1 item in your cart) </small></h2>
                        </div>

                        <div id="filter-result-heading" style="border: 1px; border-radius: 20px; background-color: white;
                                display: inline-block; margin-top: -80px; margin-bottom: 15px; 
                                margin-left: 835px; height: 105px; width: 373px;">
                            <div class="res-book-info" style="border-radius: 15px;">

                                <form action="/orderdetails" method="POST">
                                    <div style="text-align: center; margin-top: 7px;">
                                        <div class="res-book-title">
                                            <h5 style="color: #6255a6;">
                                                Subtotal (<%= cartCount %> items): $<%= cartTotalPrice.Total %>
                                            </h5>
                                        </div>
                                        <p style="font-size: 12px; margin-top: -2px;">Have a Coupon code? Apply on next
                                            page.</p>
                                        <div style="display: inline-flex; width: 80%;margin-top: -8px;">
                                            <button type="submit" class="btn btn-login"
                                                style="height: 32px; border-radius: 8px; font-size: medium;">
                                                Proceed to Buy
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="container-fluid" style="margin-top: 0px; margin-bottom: 50px; width: 135%;">
                            <div class="row">
                                <aside class="col-lg-9">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table table-borderless table-shopping-cart">
                                                <thead class="text-muted">
                                                    <tr class="small text-uppercase">
                                                        <th scope="col">Product</th>
                                                        <th scope="col" width="120">Quantity</th>
                                                        <th scope="col" width="120">Price</th>
                                                        <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (let product1 in productQuantity) { %>
                                                    <tr>
                                                        
                                                        <form action="/cart/updated/<%= productQuantity[product1].product.ProductID %>" method="POST"> 
                                                        <td>
                                                            <figure class="itemside align-items-center">
                                                                <div class="aside"><img src="images/upload_product_images/<%= productQuantity[product1].product.ProductName %>__<%= productQuantity[product1].product.CompanyName %>__<%= productQuantity[product1].product.Category %>__<%= productQuantity[product1].product.SubCategory %>.png" class="img-sm"></div>
                                                                <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true"><%= productQuantity[product1].product.ProductName %></a>
                                                                    <p class="text-muted small">Brand: <%= productQuantity[product1].product.CompanyName %></p>
                                                                </figcaption>
                                                            </figure>
                                                        </td>
                                                        <td>
                                                            <select name="Quantity" class="form-control"
                                                                                id="Quantity">
                                                                                <option
                                                                                    value="<%= productQuantity[product1].Quantity %>"
                                                                                    selected hidden>
                                                                                    <%= productQuantity[product1].Quantity
                                                                                        %>
                                                                                </option>
                                                                                <option value="0">0 (delete)
                                                                                </option>
                                                                                <% for(let i=1;
                                                                                    i<=productQuantity[product1].product.QuantityLeft
                                                                                    ; i++) { %>
                                                                                    <option value="<%= i %>">
                                                                                        <%= i %>
                                                                                    </option>
                                                                                    <% } %>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="price-wrap"> <var class="price">$<%= productQuantity[product1].Total %></var> <small class="text-muted"> $<%= productQuantity[product1].product.Price %> each </small> </div>
                                                        </td>
                                                        <td class="text-right d-none d-md-block">
                                                            <button type="submit" href="/cart/updated/<%= productQuantity[product1].product.ProductID %>" class="btn btn-light" data-abc="true"> Update </button> 
                                                            <a href="/cart/deleted/<%= productQuantity[product1].product.ProductID %>" class="btn btn-light" data-abc="true"> Remove </a> 
                                                        </td>
                                                        </form>

                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                        <% } %>
        </div>

    </section>

    <%- include('./include/footer.ejs') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <%- include('./include/script.link.ejs') %>

</body>