<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Change Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/dropdown.css">
</head>
  
  <body style="background-color: #eee;">
  
    <section id="nav-header" style="height: 100px;">
      <header>
        <nav class="navbar navbar-expand-md fixed-top white-nav">
          <div class="container">
            <div class="img-logo">
              <a href="/welcome" class="navbar-brand">
                <img src="images/logo.png" class="img-fluid" alt="">
              </a>
            </div>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" style="margin-left: auto; float: right;" id="navbarSupportedContent">
              <ul class="navbar-nav" style="margin-left: auto;">
                <li class="nav-item">
                  <a class="nav-link purple-link" href="/welcome">HOME</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link purple-link" href="wallet">WALLET( $<b style="color: #6255a6;">
                      <%= walletBalance %>
                    </b>)</a>
                </li>
  
                <% if(!cartCount) { %>
                  <li class="nav-item">
                    <a class="nav-link purple-link" href="/cart">CART</a>
                  </li>
  
                  <% } else{ %>
                    <li class="nav-item">
                      <a class="nav-link purple-link" href="/cart">CART(<b style="color: #6255a6;">
                          <%= cartCount %>
                        </b>)</a>
                    </li>
                    <% } %>
  
                      <% if(!countCouponcode) { %>
                        <li class="nav-item">
                          <a class="nav-link purple-link" href="/couponcode" style="color: #6255a5;">COUPON CODE</a>
                        </li>
  
                        <% } else{ %>
                          <li class="nav-item">
                            <a class="nav-link purple-link" href="/couponcode" style="color: #6255a5;">COUPON CODE (<b
                                style="color: #6255a6;">
                                <%= countCouponcode %>
                              </b>)</a>
                          </li>
                          <% } %>
                            <li class="nav-item">
                              <a class="nav-link purple-link" href="/history">
                                MY ORDERS
                              </a>
                            </li>
                            <% for(let user in userDetails) { %>
                              <% if(userDetails[user].Status=='pending' ) { %>
                                <li class="nav-item">
                                  <a id="nav-btn" style="width: 150px;"
                                    class="nav-link btn btn-login-navbar-purple white-link d-flex align-items-center"
                                    href="<%= link %>" role="button">VERIFY EMAIL</a>
                                </li>
                                <% } %>
                                  <% } %>
                                  <li class="nav-item">
                                    <div class="dropdown">
                                        <a style="cursor: pointer;" class="nav-link purple-link pro-pic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="images/reviewer-<%= userid %>.png" alt="">
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/userprofile">Update Profile</a>
                                            <a class="dropdown-item" href="/changepassword">Change Password</a>
                                            <a class="dropdown-item" href="/logout" style="color: #6255a5;">LOGOUT</a>
                                        </div>
                                    </div>
                                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </section>
  
    <section id="change-pw">
        <img src="images/pre-login/banner-with-overlay.jpg" id="forgot-pw-bg-img" alt="">
        <div id="forgot-pw-content">
            <div id="logo">
                <img src="images/pre-login/top-logo.png" alt="" style="margin-top: 30px;">
            </div>
            <div class="container" id="forgot-pw-form">
                <div id="forgot-pw-heading">
                    <p>Change Password?</p>
                </div>
                <div id="forgot-pw-text-1">
                    <p>Enter your new password to change your password</p>
                </div>
                <form action="/changepassword" method="POST">

                    <div class="form-group ip-text">
                        <div class="input-auth">
                            <label for="Old_Pass">Old Password</label>
                            <input type="password" class="form-control input-field" style="height: 50px; padding-left: 10px;" id="Old_Pass" name="Old_Pass" placeholder="Enter your old password" required>
                            <img src="images/eye-slash.png" id="toggleOldPassword" onclick="hello()" style="margin-left: 430px; margin-top: -30px;">
                        </div>
                        <% if(locals.checkPass) { %>
                            <label for="password_error"
                                style="color: red; margin-left: 50px; margin-bottom: -5px; font-size: 12px; ">
                                <%= checkPass %>
                            </label>
                            <% } %>
                    </div>

                    <div class="form-group ip-text">
                        <div class="input-auth">
                            <label for="New_Pass">New Password</label>
                            <input type="password" class="form-control input-field" style="height: 50px; padding-left: 10px;" id="New_Pass" name="New_Pass" placeholder="Enter your new password" required>
                            <img src="images/eye-slash.png" id="toggleNewPassword" onclick="hello1()" style="margin-left: 430px; margin-top: -30px;">
                        </div>
                    </div>

                    <div class="form-group ip-text">
                        <div class="input-auth">
                            <label for="Confirm_Pass">Confirm Password</label>
                            <input type="password" class="form-control input-field" style="height: 50px; padding-left: 10px;" id="Confirm_Pass" name="Confirm_Pass" placeholder="Enter your confirm password"  required>
                            <img src="images/eye-slash.png" id="toggleConfirmPassword" onclick="hello2()" style="margin-left: 430px; margin-top: -30px;">
                        </div>
                        <% if(locals.checkConfirmPass) { %>
                            <label for="password_error"
                                style="color: red; margin-left: 50px; margin-bottom: -5px; font-size: 12px; ">
                                <%= checkConfirmPass %>
                            </label>
                            <% } %>
                    </div>

                    <div id="forgot-pw-btn">
                        <button type="submit" class="btn btn-forgot-pw" style="height: 45px; margin-bottom: -10px; margin-top: 16px;">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <script>
      function hello() {
        var link = document.getElementById('toggleOldPassword');
        var new1 = link.getAttribute("src");
        if (new1 === "images/eye-slash.png") {
          link.setAttribute('src', "images/eye.png");
        } else {
          link.setAttribute('src', "images/eye-slash.png");
        }

        var x = document.getElementById('Old_Pass');
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
    <script>
      function hello1() {
        var link = document.getElementById('toggleNewPassword');
        var new1 = link.getAttribute("src");
        if (new1 === "images/eye-slash.png") {
          link.setAttribute('src', "images/eye.png");
        } else {
          link.setAttribute('src', "images/eye-slash.png");
        }

        var x = document.getElementById('New_Pass');
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
    <script>
      function hello2() {
        var link = document.getElementById('toggleConfirmPassword');
        var new1 = link.getAttribute("src");
        if (new1 === "images/eye-slash.png") {
          link.setAttribute('src', "images/eye.png");
        } else {
          link.setAttribute('src', "images/eye-slash.png");
        }

        var x = document.getElementById('Confirm_Pass');
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>
    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  
  </body>