<head>
    <%- include('./include/header.link.ejs') %>
        <title>Login</title>
</head>

<body style="background-color: #eee;">

    <section id="login">
        <div id="login-content">
            <div id="logo">
                <img src="/images/logo - Copy.png" class="img-fluid" alt="" style="margin-top: -20px;">
            </div>

            <div id="forgot-pw-text-1" style="margin-top: 20px;">
                <p style="color: #47cf48;"><img src="/images/Artboard 1.png"
                        style="width: 15px; height: 15px; transform: translateY(-2px);" alt=""> Verify email and get
                    $500 in your
                    wallet.</p>
            </div>
            <div class="container-cust" id="login-form" style="margin-bottom: 0px; margin-top: -30px;">

                <div id="login-heading" style="margin-top:-20px;">
                    <p>Login</p>
                </div>

                <div id="login-text-1">
                    <p>Enter your username and password to login</p>
                </div>

                <form action="/login" method="post" name="Form">
                    <div class="form-group ip-text" style="margin-top: -10px;">
                        <div class="input-auth">
                            <label for="username">Username</label>
                            <input type="text" class="form-control input-field" name="UserName" id="UserName"
                                placeholder="Enter your name">
                        </div>
                        <% if(locals.checkEmpty) { %>
                            <label class='label1' for="password_error"
                                style="color: red; margin-left: 50px; margin-bottom: -5px; font-size: 12px; ">
                                <%= checkEmpty %>
                            </label>
                            <% } %>
                                <% if(locals.checkUser) { %>
                                    <label class='label1' for="password_error"
                                        style="color: red; margin-left: 50px; margin-bottom: -5px; font-size: 12px; ">
                                        <%= checkUser %>
                                    </label>
                                    <% } %>
                    </div>
                    <div class="form-group ip-text">
                        <div class="input-auth">
                            <label for="password">Password</label>
                            <label for="forgot" style="display: inline-block; margin-left: 271px; color: #6255a5">Forgot
                                Password?</label>
                            <input type="password" class="form-control input-field" style="height: 50px;"
                                name="Password" id="Password" placeholder="Enter your password">
                        </div>
                    </div>
                    <% if(locals.checkPass) { %>
                        <label for="password_error" class='label1'
                            style="color: red; margin-left: 50px; margin-top: -20px; font-size: 12px;">
                            <%= checkPass %>
                        </label>
                        <% } %>

                            <div class="form-group ip-cb">
                                <div class="input-auth">
                                    <input type="checkbox" id="exampleCheck1" style="margin-bottom: 30px;"
                                        onclick="hello2()">
                                    <label for="exampleCheck1" style="vertical-align: middle; margin-top: -10px;">Show
                                        Password</label>
                                </div>
                            </div>
                            <div id="login-btn" style="margin-bottom: 40px; margin-top: 30px;">
                                <button type="submit" class="btn btn-login" id="submit" value="Sign Up"
                                    data-toggle="modal">LOGIN</button>
                            </div>
                            <div id="login-text-2" style="margin-left: 170px; margin-top: -30px; margin-bottom: -20px;">
                                <p style="display: inline-block;">Don't have an account?</p>
                                <a style="display: inline-block; color: #6255a5" href="/signup">Sign Up</a>
                            </div>
                </form>
            </div>
        </div>

    </section>

    <script>
        function hello2() {
            var x = document.getElementById('Password');
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    <%- include('./include/script.link.ejs') %>

        <%- include('./include/script.link.ejs') %>

</body>