<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Your Cart</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/orderdetails.css">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
</head>

<body>

    <section id="nav-header" style="height: 100px;">
        <header>
            <nav class="navbar navbar-expand-md fixed-top white-nav">
                <div class="container">
                    <div class="img-logo">
                        <a href="/welcome" class="navbar-brand">
                            <img src="images/logo.png" class="img-fluid" alt="">
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" style="margin-left: auto; float: right;"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav" style="margin-left: auto;">
                            <% for(let user in userDetails) { %>
                                <li class="nav-item">
                                    <a class="nav-link purple-link">Welcome <b style="color: #6255a6;">&nbsp;<%=
                                                userDetails[user].UserName %>!</b></a>
                                </li>
                                <% } %>
                                    <li class="nav-item">
                                        <a class="nav-link purple-link" href="/welcome">HOME</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link purple-link" href="/wallet">WALLET( $<b style="color: #6255a6;"><%= walletBalance %>
                                            </b>)</a>
                                    </li>

                                    <% if(!cartCount) { %>
                                        <li class="nav-item">
                                            <a class="nav-link purple-link" href="/cart">CART</a>
                                        </li>

                                        <% } else{ %>
                                            <li class="nav-item">
                                                <a class="nav-link purple-link" href="/cart">CART(<b
                                                        style="color: #6255a6;">
                                                        <%= cartCount %>
                                                    </b>)</a>
                                            </li>
                                            <% } %>

                                                <% if(!countCouponcode) { %>
                                                    <li class="nav-item">
                                                        <a class="nav-link purple-link" href="/couponcode">COUPON
                                                            CODE</a>
                                                    </li>

                                                    <% } else{ %>
                                                        <li class="nav-item">
                                                            <a class="nav-link purple-link" href="/couponcode">COUPON
                                                                CODE (<b style="color: #6255a6;">
                                                                    <%= countCouponcode %>
                                                                </b>)</a>
                                                        </li>
                                                        <% } %>

                                                            <% for(let user in userDetails) { %>
                                                                <% if(userDetails[user].Status=='pending' ) { %>
                                                                    <li class="nav-item">
                                                                        <a id="nav-btn" style="width: 150px;"
                                                                            class="nav-link btn btn-login-navbar-purple white-link d-flex align-items-center"
                                                                            href="<%= link %>" role="button">VERIFY
                                                                            EMAIL</a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <li class="nav-item">
                                                                                <a id="nav-btn"
                                                                                    class="nav-link btn btn-login-navbar-purple white-link d-flex align-items-center"
                                                                                    href="#">LOGOUT</a>
                                                                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <section id="filters" style="margin-top: 10px;">

        <div class="container">

            <% for(user in userDetails) { %>

            <header>
                <div class="d-flex justify-content-center align-items-center pb-3">
                    <div class="px-sm-5 px-2 active" style="color: #6255a5;">CHECKOUT <span class="fas fa-check"></span> </div>
                    <div class="px-sm-5 px-2">FINISH</div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </header>
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1">
                        <div class="mobile h5">Billing Address</div>
                        <div id="details" class="bg-white rounded pb-5">
                            <form action="address/<%= cookieuserid %>" method="POST">
                                <% if(!useraddress) { %>
                                <div class="h5" style="color: #6255a5; margin-top: -10px;"> <b>Billing Address</b> </div>
                                <div class="form-group"> <label class="text-muted" style="margin-top: 20px;">Name</label> <input type="text" style="margin-top: 0px;" value="<%= userDetails[user].UserName %>" class="form-control"> </div>
                                <div class="form-group"> <label class="text-muted" >Email</label>
                                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="email" value="<%= userDetails[user].Email %>"> <span class="fas fa-check text-success pr-sm-2 pr-0"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>City</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="City" value="Ahmedabad"> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>Zip code</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="Zipcode" value="300000"> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>Address</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="Address" value="502, New Ranip"> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>State</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="State" value="Gujarat"> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                </div> 
                                <label>Country</label> 
                                <select name="Country" id="Country">
                                    <option value="INDIA">INDIA</option>
                                    <option value="USA">USA</option>
                                </select>
                                <div id="login-btn" style="margin-bottom: -10px;">
                                    <button type="submit" class="btn btn-login" id="submit" value="Sign Up"
                                        data-toggle="modal" style="width: 100%; height: 35px;">SAVE ADDRESS</button>
                                </div>
                                <% } %>
                                <% if(useraddress) { %>
                                    <div class="h5" style="color: #6255a5; margin-top: -10px;"> <b>Billing Address</b> </div>
                                <div class="form-group"> <label class="text-muted" style="margin-top: 20px;">Name</label> <input type="text" style="margin-top: 0px;" value="<%= userDetails[user].UserName %>" class="form-control" readonly> </div>
                                <div class="form-group"> <label class="text-muted" >Email</label>
                                    <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="email" value="<%= userDetails[user].Email %>" readonly> <span class="fas fa-check text-success pr-sm-2 pr-0"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>City</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="City" value="<%= useraddress.City %>" readonly> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>Zip code</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="Zipcode" value="<%= useraddress.Zipcode %>" readonly> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>Address</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="Address" value="<%= useraddress.Address %>" readonly> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>State</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="State" value="<%= useraddress.State %>" readonly> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"> <label>Country</label>
                                            <div class="d-flex jusify-content-start align-items-center rounded p-2"> <input type="text" name="Country" value="<%= useraddress.Country %>" readonly> <span class="fas fa-check text-success pr-2"></span> </div>
                                        </div>
                                    </div>
                                </div> 
                                    <label>Your Address is saved.</label> 
                                <% } %>
                            </form>
                        </div> 
                        <div id="address" class="bg-light rounded mt-3">
                            <div class="h5" style="color: #6255a5;"> <b>Shipping Address</b> </div>
                            <div class="d-md-flex justify-content-md-start align-items-md-center pt-3">
                                <div class="mr-auto"> <b>Home Address</b>
                                    <p class="text-justify text-muted">542, New ranip</p>
                                    <p class="text-uppercase text-muted">Ahmedabad, Gujarat</p>
                                </div>
                                <div class="rounded py-2 px-3" id="register" style="background-color: rgb(234, 234, 245); margin-top: -15px; "> <a href="#"> <b>Register Now</b> </a>
                                    <p class="text-muted" >Create account to have multiple address saved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-10 offset-lg-0 offset-md-2 offset-sm-1 pt-lg-0 pt-3">
                        <form action="/<%= Data.orderId %>/payment" method="GET">
                        <div id="cart" class="bg-white rounded">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="h5" style="color: #6255a5;"> <b>Cart Summary</b> </div>
                                <div class="h6"> <a href="/cart" style="color: #6255a5;">Edit</a> </div>
                            </div>
                            <% for(product in productQuantity) { %>
                            <div class="d-flex jusitfy-content-between align-items-center pt-3 pb-2 border-bottom">
                                <div class="item pr-2"> <img src="images/Search/1.jpg" alt="" width="80" height="80">
                                    <div class="number" style="height: 31px; width: 33px; padding-top: 2px; text-align: center; background-color: #6255a5;"><%= productQuantity[product].Quantity %></div>
                                </div>
                                <div class="d-flex flex-column px-3"> <b class="h5"><%= productQuantity[product].product.ProductName %></b> <a href="#" style="color: #6255a5;">By <%= productQuantity[product].product.CompanyName %></a> </div>
                                <div class="ml-auto"> <b class="h5">$<%= productQuantity[product].Total %></b> </div>
                            </div>
                            <% } %>
                            <div class="d-flex align-items-center" style="margin-top: 150px;">
                                <div class="display-5">Subtotal (<%= cartCount %> items)</div>
                                <div class="ml-auto font-weight-bold">
                                    $<%= cartSubTotalPrice.Total %>
                                </div>
                            </div>
                            <div class="d-flex align-items-center" style="margin-top: 7px;">
                                <div class="display-5">Discount Price</div>
                                <div class="ml-auto font-weight-bold" style="color: #6255a5;">- $<%= discountPrice %>.00</div>
                            </div>
                            <div class="d-flex align-items-center py-2" style="margin-bottom: 10px;">
                                <div class="display-5">Delivery Charges</div>
                                <div class="ml-auto font-weight-bold" style="color: #6255a5;">FREE</div>
                            </div>
                            <div class="d-flex align-items-center py-2 border-bottom" style="margin-top: -15px;"></div>
                            <div class="d-flex align-items-center py-2" style="margin-top: 10px;">
                                <div class="display-5">Total Amount</div>
                                <div class="ml-auto d-flex">
                                    <div style="color: #6255a5;"><b>USD</b>&nbsp;&nbsp;</div>
                                    <div class="font-weight-bold">$<%= cartTotalPrice %>.00</div>
                                </div>
                            </div>
                            
                            <div class="d-flex align-items-center py-2 border-bottom" style="margin-top: -8px;"></div>
                            <div class="display-5" style="color: #6255a5; text-align: center; font-size: 17px; margin-top: 10px; margin-bottom: 100px;">You will save $<%= discountPrice %> on this order.</div>
                                
                        </div>
                        <div class="row pt-lg-3 pt-2 buttons mb-sm-0 mb-2" style="margin-top: 10px; margin-left: 65px;">
                            <a href="/welcome" style="margin-top: -100px; color: #6255a5;">BACK TO SHOPPING</a>
                            <button type="submit" class="btn btn-login" id="submit" value="Sign Up" style="height: 50px; margin-left: 60px; border-radius: 0px; width: 34%; margin-top: -110px;" data-toggle="modal">PAYMENT</button>
                        </div>
                        
                        </form>

                        <div style="margin-top: -510px; margin-left: 50px;">
                        
                        <% if(cookieflag == 0) { %>
                            <form action="couponcode/apply/<%= cookieuserid %>" method="POST">
                                <div class="my-3" style="width: 50%;"> <input type="text" id="CouponCode" name="CouponCode" class="w-100 form-control text-center" style="color: #6255a5;" placeholder="Enter Coupon Code"> </div>
                                <button type="submit" class="btn btn-login" id="submit" value="Sign Up" style="height: 36px; margin-left: 263px; width: 28%; margin-top: -57px;" data-toggle="modal">APPLY</button>
                            </form>
                            <p style="margin-left: 120px; color: #6255a5;">You have <%= countCouponcode %> Coupon code.</p>
                        <% } else { %>
                            <% for (let c1 in couponcodeDetails) { %>
                            <form action="couponcode/remove/<%= cookieuserid %>" method="POST">
                                <div class="my-3" style="width: 50%;"> <input type="text" style="border: 3px solid #6255a6; border-radius: 0px; background-color: rgb(234, 234, 245); color: #6255a5; font-weight: 800;" id="CouponCode" name="CouponCode" class="w-100 form-control text-center"  value="<%= couponcodeDetails[c1].Details %>" readonly> </div>
                                <button type="submit" class="btn btn-login" id="submit" value="Sign Up" style="height: 36px; border-radius: 0px; margin-left: 263px; width: 28%; margin-top: -57px;" data-toggle="modal">REMOVE</button>
                            </form>
                            <p style="margin-left: 80px; color: #6255a5;">You got <%= couponcodeDetails[c1].Details %> on Subtotal.</p>
                            <% } %>
                        <% } %>
                        </div>

                    </div>
                </div>
                <div class="text-muted"> <span class="fas fa-lock"></span> Your information is saved. </div>
            </div>

            <% } %>

        </div>

    </section>

    <script src="js/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

</body>