<head>
    <%- include('./include/header.link.ejs') %>
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">

<body style="background-color: #eee;">
    <section id="sign-up">

        <div id="forgot-pw-content" style="margin-top: -200px;">
            <div id="logo">
                <img src="images/logo - Copy.png" alt="" style="margin-top: 400px;">
            </div>
            <div class="container" id="forgot-pw-form" style="margin-bottom: 10px;">
                <div id="forgot-pw-heading" style="margin-top: -20px;">
                    <p>Create an Account</p>
                </div>

                <% if(locals.emailCheck) { %>
                    <label class='label1' for="email_error" style="color: red; margin-left: 50px; font-size: 12px;">
                        <%= emailCheck %>
                    </label>
                    <% } %>
                        <% if(typeof alert !='undefined' ) { %>
                            <label class='label1' for="password_error"
                                style="color: red; margin-left: 50px; font-size: 12px;">
                                <%= alert[0].msg %>
                            </label>
                            <% } %>
                                <form action="http://localhost:8080/signup" method="post" name="Form"
                                    style="margin-top: 40px;">
                                    <div class="form-group ip-text">
                                        <div class="input-auth">
                                            <label for="username" style="margin-top: -10px;">Username*</label>
                                            <input type="text" class="form-control input-field" name="UserName"
                                                id="UserName" placeholder="Enter name">
                                        </div>
                                        <% if(locals.checkUserEmpty) { %>
                                            <label class='label1' for="email_error"
                                                style="color: red; margin-left: 50px; margin-bottom: -2px; font-size: 12px;">
                                                <%= checkUserEmpty %>
                                            </label>
                                            <% } %>
                                    </div>

                                    <div class="form-group ip-text">
                                        <div class="input-auth">
                                            <label for="email">Email*</label>
                                            <input type="text" class="form-control input-field" name="Email" id="Email"
                                                placeholder="Enter your email address">
                                        </div>
                                        <% if(locals.checkEmailEmpty) { %>
                                            <label class='label1' for="email_error"
                                                style="color: red; margin-left: 50px; margin-bottom: -2px; font-size: 12px;">
                                                <%= checkEmailEmpty %>
                                            </label>
                                            <% } %>
                                    </div>
                                    <div class="form-group ip-text">
                                        <div class="input-auth">
                                            <label for="password">Password*</label>
                                            <input type="password" class="form-control input-field"
                                                style="height: 50px; padding-left: 10px;" id="Password" name="Password"
                                                placeholder="Enter your password">
                                            <img src="images/eye.png" id="togglePassword" onclick="hello2()"
                                                style="margin-left: 430px; margin-top: -30px;">
                                        </div>
                                        <% if(locals.checkPassEmpty) { %>
                                            <label class='label1' for="password_error"
                                                style="color: red; margin-left: 50px; margin-bottom: -5px; font-size: 12px; ">
                                                <%= checkPassEmpty %>
                                            </label>
                                            <% } %>
                                    </div>
                                    <div class="form-group ip-text">
                                        <div class="input-auth">
                                            <label for="status">Status (Activate Email to get $500)</label>
                                            <input type="text" class="form-control input-field" name="Status"
                                                id="Status" readonly>
                                        </div>
                                    </div>

                                    <div id="login-btn" style="margin-bottom: 40px; margin-top: 30px;">
                                        <button type="submit" class="btn btn-login" id="submit" value="Sign Up"
                                            data-toggle="modal">SIGN
                                            UP</button>
                                    </div>

                                </form>
            </div>
        </div>

    </section>

    <%- include('./include/script.link.ejs') %>

    <script type="text/javascript">
        document.getElementById('Status').value = 'pending';
    </script>

    <script>
        function hello2() {
            var link = document.getElementById('togglePassword');
            var new1 = link.getAttribute("src");
            if (new1 === "images/eye.png") {
                link.setAttribute('src', "images/eye-slash.png");
            } else {
                link.setAttribute('src', "images/eye.png");
            }

            var x = document.getElementById('Password');
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    
    <%- include('./include/script.link.ejs') %>

</body>