<head>
    <%- include('./include/header.link.ejs') %>
        <title>Wallet</title>
</head>

<body style="background-color: #eee">

    <%- include('./include/header1.ejs') %>

    <section id="add-type">

        <div class="container">
            <div id="add-type-content">

                <div class="add-type-heading">
                    <h3>Wallet Amount: $<%= walletBalance %>.00</h3>
                    <h4 style="color: #6255a6; font-size: x-large; margin-bottom: 30px;">Add Balance</h4>
                </div>

                <div class="row">

                    <div class="col-xl-6">

                        <form action="/wallet" method="POST">
                            <div class="ip-field">
                                <label for="amount" class="add-type-lbl">Amount*</label>
                                <input type="number" class="form-control input-field" name="Amount" id="Amount"
                                    placeholder="Enter amount" min="0" step=".00" value="0">
                            </div>

                            <div id="login-btn" style="margin-bottom: 40px; margin-top: 30px; margin-left: -480px;">
                                <button type="submit" class="btn btn-login" id="submit" value="Sign Up"
                                    style="width: 10%; height: 35px;" data-toggle="modal">ADD</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <br><br><br><br><br><br><br><br>
    <%- include('./include/footer.ejs') %>

        <%- include('./include/script.link.ejs') %>

</body>