<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/dropdown.css">
</head>

<body style="background-color: #eee;">

    <section id="nav-header" style="height: 100px;">
        <header>
            <nav class="navbar navbar-expand-md fixed-top white-nav">
                <div class="container">
                    <div class="img-logo">
                        <a href="" class="navbar-brand">
                            <img src="images/logo.png" class="img-fluid" alt="">
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" style="margin-left: auto; float: right;"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav" style="margin-left: auto;">
                            <% for(let user in userDetails) { %>
                                <li class="nav-item">
                                    <a class="nav-link purple-link">Welcome <b style="color: #6255a6;">&nbsp;<%=
                                                userDetails[user].UserName %>!</b></a>
                                </li>
                                <% } %>
                                    <li class="nav-item">
                                        <a class="nav-link purple-link" href="/wallet">WALLET( $<b
                                                style="color: #6255a6;">
                                                <%= walletBalance %>
                                            </b> )</a>
                                    </li>

                                    <% if(!cartCount) { %>
                                        <li class="nav-item">
                                            <a class="nav-link purple-link" href="/cart">CART</a>
                                        </li>
                                        <% } else{ %>
                                            <li class="nav-item">
                                                <a class="nav-link purple-link" href="/cart">CART( <b
                                                        style="color: #6255a6;">
                                                        <%= cartCount %>
                                                    </b> )</a>
                                            </li>
                                            <% } %>

                                                <% if(countCouponcode <=0) { %>
                                                    <li class="nav-item">
                                                        <a class="nav-link purple-link" href="/couponcode">COUPON
                                                            CODE</a>
                                                    </li>
                                                    <% } else { %>
                                                        <li class="nav-item">
                                                            <a class="nav-link purple-link" href="/couponcode">COUPON
                                                                CODE (<b style="color: #6255a6;">
                                                                    <%= countCouponcode %>
                                                                </b>)</a>
                                                        </li>
                                                        <% } %>

                                                            <li class="nav-item">
                                                                <a class="nav-link purple-link" href="/history">
                                                                    MY ORDERS
                                                                </a>
                                                            </li>
                                                            <% for(let user in userDetails) { %>
                                                                <% if(userDetails[user].Status=='pending' ) { %>
                                                                    <li class="nav-item">
                                                                        <a id="nav-btn" style="width: 100px;"
                                                                            class="nav-link btn btn-login-navbar-purple white-link d-flex align-items-center"
                                                                            href="<%= link %>" role="button">VERIFY</a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } %>
                                                                        <li class="nav-item">
                                                                            <div class="dropdown">
                                                                                <% if(ab) { %>
                                                                                <a style="cursor: pointer;" class="nav-link purple-link pro-pic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <img src="images/upload_images/<%= ab.Image %>" style="width: 40px; height: 50px; border-radius: 50%;" alt="">
                                                                                </a> 
                                                                                <% } %>
                                                                                <% if(!ab) { %>
                                                                                <a style="cursor: pointer;" class="nav-link purple-link pro-pic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <img src="images/default-profile-picture1.jpg" style="width: 40px; height: 50px; border-radius: 50%;" alt="">
                                                                                </a> 
                                                                                <% } %>
                                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                                    <a class="dropdown-item" href="/userprofile">Update Profile</a>
                                                                                    <a class="dropdown-item" href="/changepassword">Change Password</a>
                                                                                    <a class="dropdown-item" href="/logout" style="color: #6255a5;">LOGOUT</a>
                                                                                </div>
                                                                              </div>
                                                                        </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <section id="filters" style="margin-top: 30px;">

        <div class="container">
            <div id="filter-result-heading">
                <h3>Total <%= countProducts %> Products</h3>
            </div>

            <div id="filter-result">

                <div class="row res-row">
                    <% for (let product in productDetails) { %>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="res-book" style="width: 100%;">
                                <div class="row">
                                    <div class="col-xl-12" style="width: 100%;">
                                        <div class="img-book">
                                            <img src="images/Search/1.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="res-book-info" style="background-color: white;">
                                            <div class="res-book-info-wrapper">
                                                <div class="res-book-title" style="display: inline-block;">
                                                    <h3 style="color: #6255a6;">
                                                        <%= productDetails[product].ProductName %>
                                                    </h3>
                                                </div>
                                                <div class="res-book-company"
                                                    style="display: inline-block; margin-bottom: 10px;">
                                                    <p style="font-size: 15px;">
                                                        &nbsp; by <%= productDetails[product].CompanyName %>
                                                    </p>
                                                </div>
                                                <div class="res-book-content">
                                                    <div style="display: inline-flex; width: 100%; margin-bottom: 5px;">
                                                        <div class="img-icon"><img src="images/university.png" alt="">
                                                        </div>
                                                        <p>Price : $<%= productDetails[product].Price %>
                                                                <p
                                                                    style="margin-left: 7px; color: #6255a5; margin-top: 1px; font-size: 13px;">
                                                                    each</p>
                                                        </p>
                                                    </div>
                                                    <% if(productDetails[product].QuantityLeft > 0) { %>
                                                        <div style="display: inline-flex; width: 100%; margin-bottom: 5px;">
                                                            <div class="img-icon"><img src="images/pages.png" alt="">
                                                            </div>
                                                            <p>Quantity Left : <%= productDetails[product].QuantityLeft %>
                                                            </p>
                                                        </div>
                                                    <% } else if(productDetails[product].QuantityLeft <= 0) { %>
                                                        <div style="display: inline-flex; width: 100%; margin-bottom: 5px;">
                                                            <p style="color: red ">Product Out of Stock
                                                            </p>
                                                        </div>     
                                                    <% } %>    
                                                    <div id="star-rating"
                                                        style="display: inline-flex; width: 100%; margin-bottom: 5px; ">
                                                        <img src="images/star.png" class="img-fluid" alt="">
                                                        <img src="images/star.png" class="img-fluid" alt="">
                                                        <img src="images/star.png" class="img-fluid" alt="">
                                                        <img src="images/star.png" class="img-fluid" alt="">
                                                        <img src="images/star.png" class="img-fluid" alt="">
                                                        <p>100 Reviews</p>
                                                    </div>
                                                    <% for(let user in userDetails) { %>
                                                        <% if(userDetails[user].Status=='active' ) { %>
                                                            <% if(productDetails[product].QuantityLeft > 0 ) { %>

                                                            <form
                                                                action="/cart/added/<%= productDetails[product].ProductID %>"
                                                                method="POST">
                                                                <div
                                                                    style="display: inline-flex; width: 95.5%; margin-bottom: 0px;">
                                                                    <button type="submit" class="btn btn-login"
                                                                        style="height: 40px;"
                                                                        onclick="return script()">ADD TO
                                                                        CART</button>
                                                                </div>
                                                            </form>
                                                            <% } else { %>
                                                                <form
                                                                action="/cart/added/<%= productDetails[product].ProductID %>"
                                                                method="POST">
                                                                <div
                                                                    style="display: inline-flex; width: 95.5%; margin-bottom: 0px;">
                                                                    <button type="submit" class="btn btn-login"
                                                                        style="height: 40px;"
                                                                        onclick="return script()" disabled>ADD TO
                                                                        CART</button>
                                                                </div>
                                                                
                                                            </form>
                                                            <% } %>

                                                            <% } %>
                                                                <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </section>

    <!-- <script type="text/javascript">
        function script() {
            alert(`Product Added to your cart.`);
        }
    </script> -->

    <script src="js/jquery-3.5.1.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

</body>